<div style="width: 100%; height: 100%;">
    <table style="width: 811px; display: flex; justify-content: center; margin: auto; margin-top: 10px; border-top: 2px solid">
        <tbody>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question1}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question2}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question3}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question4}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question5}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question6}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question7}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question8}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question9}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question10}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question11}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question12}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question13}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question14}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question15}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question16}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question17}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question18}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question19}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question20}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question21}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question22}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question23}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question24}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question25}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question26}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question27}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question28}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question29}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question30}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question31}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question32}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question33}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question34}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question35}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question36}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question37}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question38}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question39}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question40}}</td>
            </tr>
            <tr style="height: 28px;">
                <td style="width: 410.422px; height: 28px; border: 1px solid;">{{question41}}</td>
                <td style="width: 380.578px; height: 28px; border: 1px solid;">{{question42}}</td>
            </tr>
        </tbody>
    </table>
</div>