.dnd {
    display: flex;
    flex-direction:row;
    align-items: top;
    gap: 24px;
    width: 100%;
}

.drag {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 24px;
    padding: 24px;
    border: 3px dashed #d9d9d9;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.container {
    display: flex;
    width: 30%;
    height: auto;
    gap: 24px;
    flex-direction: column;
}

.dnd .container .file {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 12px 16px;
    border-radius: 12px;
    width: 100%;
    gap: 12px;
    background-color: #f1f1f1;
    overflow:hidden;
    justify-content: space-between
}
.dnd .container .file span{
    width: fit-content;

    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    align-items: center;
}

.top {
    display: flex;
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.delete {
    z-index: 999;
    color: #3A3A3A;
    cursor: pointer;
    margin-left: 10px;
}

.dnd input,
.dnd .drag .on-drop,
.dnd .drag.dragover .visible {
    display: none;
}
