.menu{
    background-color: #f1f1f1;
    width: 100vw;
    padding: 24px 25%;

}

.chat{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 24px;
    height: 100vh;
  }

.icon{
    border-radius: 24px;
    display:flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center ;
}

.icon:hover {
    background-color: darkgray; /* Cor de fundo ao passar o mouse */
}

.chat-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    align-items: center;
    padding: 0px 25% 24px;
}

.chat-area{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 24px;
    align-items: flex-end;
    padding: 0px 25%;
}

.input-area{
    display: flex;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    border-radius: 100px;
    padding: 8px 8px 8px 24px;
    justify-content: space-between;
    background-color: #f1f1f1;
}

.input-area input{
    display: flex;
    width:100%;
    min-width: 200px;
    min-height: 48px;
    height: fit-content;
    background: none;
    border: none;
    font-size: medium;
}
.chat-input input:focus{
    outline: none;
}

.icons{
    display: flex;
    flex-direction: row;
}

.text-small{
    font-size: small;
    color: gray ;
}