.home{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.drag-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 25%;
    gap: 48px;
}

.produto{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.anvisa{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.forms{
    display: flex;
    gap: 24px;
}